@model IEnumerable<taxi.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h2>Cars</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColourCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTaxiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberCar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColourCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyTaxiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberCar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
